/* Start global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

:root {
    --main-clr: #10cab7;
    --secondary-clr: #f6f6f6;
}

/* Start Media  */

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .container {
        width: 970px;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Media  */
/* start component */
.spacial-header {
    font-size: 90px;
    color: #e7e7e7;
    font-weight: 800;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: -2px;
    margin: 0;
}

.spacial-header+p {
    font-size: 20px;
    text-align: center;
    color: #777;
    margin-top: -30px;
    font-weight: 400;
}

/* end component */

/* End Global */

/* Start Header */
header {
    height: 63px;
}

header .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

header .container img {
    width: 60px;
    display: flex;
    align-items: center;
}


header .container .menu {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header .container .menu .menu-icon {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: end;
    cursor: pointer;

}

header .container .menu .menu-icon:hover.menu-icon div:nth-child(2) {
    width: 100%;
}

header .container .menu .menu-icon div {
    width: 100%;
    height: 2px;
    background-color: #000;
    border-radius: 5px;
}

header .container .menu .menu-icon div:nth-child(2) {
    margin: 5px 0;
    width: 60%;
    transition: width .4s;
}

header .container .menu .menu-links {
    position: absolute;
    bottom: -200px;
    right: 10px;
    background-color: #f8f8f8;
    width: 220px;
    z-index: 100;
}


.menu .menu-links ul {
    list-style: none;
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}


header .container .menu .menu-links ul::after {
    content: "";
    position: absolute;
    background-color: transparent;
    height: 0;
    width: 0;
    border: 20px solid #f8f8f8;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    right: 0;
    top: -40px;
}

header .container .menu .menu-links ul li {
    padding: 15px 10px;
    transition: padding .4s;
}

header .container .menu .menu-links ul li:hover {
    cursor: pointer;
    padding-left: 20px;
}

header .container .menu .menu-links ul li:not(:last-child) {
    border-bottom: 1px solid #d6d6d6;
}

header .container .menu .menu-links ul li a {
    text-decoration: none;
    color: #333;
    text-transform: capitalize;
}

/* End Header */

/* Start Loading Section */
.loading-section {
    width: 100%;
    height: calc(100vh - 63px);
    margin-top: 0;
    background-image: url(../image/landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.loading-section .text-intro {
    text-align: center;
    text-transform: capitalize;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}

.loading-section .text-intro h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    color: var(--main-clr);
    margin-bottom: 20px;
}

.loading-section .text-intro p {
    max-width: 350px;
    font-size: 19px;
    line-height: 2;
    font-weight: 400;
}

/* End Loading Section */
/* start featur  */

.featur {
    padding: 60px 0;
    background-color: var(--secondary-clr);
}


.featur .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
}



.featur .container .icons-container {
    padding: 20px;
    text-align: center;
}


.featur .container .icons-container i {
    color: var(--main-clr);
    font-size: 50px;
    font-weight: 700;
}

.featur .container .icons-container h2 {
    font-size: 18px;
    font-weight: 800;
    text-transform: capitalize;
    margin: 25px;
}


.featur .container .icons-container p {
    line-height: 1.8;
    font-size: 18px;
    color: #777;
    font-weight: 400;
}

/* end featur section */

/* start service section */
.service {
    padding: 60px 0;
}

.service .serveic-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}


/* end service section */