/* Start Globle Styling */

* {

    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Work Sans", system-ui;
}


/* Start Media */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        width: 560 px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Media */
.container {
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

/* End Globle Styling */

/* Start Style Header  */
header {
    padding: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container img {
    width: 60px;
}

header .links-container {
    position: relative;
}

.links-container .icon {
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    justify-content: end;
    cursor: pointer;

}

.links-container .icon span {
    background-color: #444;
    height: 2px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.links-container .icon span:first-child,
.links-container .icon span:last-child {
    width: 100%;
}

.links-container .icon span:nth-child(2) {
    width: 60%;
    transition: width .4s;
}

.links-container:hover .icon span:nth-child(2) {
    width: 100%;
}

.links-container:hover .links {
    display: block;
}

.links {
    margin: 0;
    padding: 0;
    min-width: 190px;
    background-color: #f7f7f7;
    list-style: none;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    display: none;
}


.links::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border: 15px solid transparent;
    border-bottom-color: #f7f7f7;
    top: -29px;
    right: 0;
}

.links li {
    padding: 15px;
    cursor: pointer;
}

.links li:not(:last-child) {
    border-bottom: 1px solid #777;
}

.links li:hover a {
    padding: 25px;
}

.links a {
    text-decoration: none;
    color: #444;
    text-transform: capitalize;
    transition: padding-left .4s;
}

/* End Style Header  */

/* Start Style Loading Section */
.loading-section {
    height: calc(100vh - 64px);
    background-image: url(../image/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.loading-section .loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loading-section .loading-text h1 {
    margin: 0;
    font-size: 50px;
    text-transform: capitalize;
    color: #10cab7;
    margin-bottom: 25px;
}

.loading-section .loading-text p {
    max-width: 310px;
    font-size: 20px;
    line-height: 1.7;
    text-transform: capitalize;
}

/* End Style Loading Section */