/* Start Globle Styling */

* {

    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Work Sans", system-ui;
}

ul li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    transition: padding-left .4s;

}

/* Start Media */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        width: 556px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 980px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 1179px;
    }
}

/* End Media */
/* End Globle Styling */

/* Start Style Header  */
header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

header .container img {
    width: 70px;
}

header .links-container {
    position: relative;
}

.icon {
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    cursor: pointer;
}

.icon>div {
    width: 100%;
    border-radius: 10px;
    height: 2px;
    background-color: #000;

}

.icon>div:nth-child(2) {
    margin: 6px 0;
    width: 60%;
    transition: width .6s;
}

.icon:hover div:nth-child(2) {
    width: 100%;
}


header .links-container .links {
    position: absolute;
    background-color: #f4f4f4;
    right: 20px;
    width: 190px;
}

header .links-container .links li {
    display: block;
    padding: 13px;
}

header .links-container .links li:not(:last-child) {
    border-bottom: 1px solid #c3c3c3;
}

header .links-container .links li:hover a {
    padding-left: 25px;
}

header .links-container .links:hover {
    cursor: pointer;
}


/* End Style Header  */